@using Inventory.Entities.Entities;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" style="text-decoration:none; border:none; background: none"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
            </form>
        </li>
}
else
{
       @*  <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li> *@
}
</ul>

